@model Woa.Models.Valutazione

@{
    ViewData["Title"] = "Edit";
}

<h3>Valutazione</h3>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PazienteId" />
        <input type="hidden" asp-for="ConsultoId" />
        <div class="form-group">
            <label asp-for="Strutturale" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Strutturale" class="form-control" />
                <span asp-validation-for="Strutturale" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CranioSacrale" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CranioSacrale" class="form-control" />
                <span asp-validation-for="CranioSacrale" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AkOrtodontica" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AkOrtodontica" class="form-control" />
                <span asp-validation-for="AkOrtodontica" class="text-danger"></span>
            </div>
        </div>           
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Consulti" asp-action="Details" asp-route-id="@Model.ConsultoId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
