@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Utility</h2>

<ul>
	<li><a asp-action="ReplaceHtmlEncode">ReplaceHtmlEncode</a></li>
</ul>
