
@model PaginatedList<Woa.Models.Consulto>

@{
    ViewData["Title"] = "Index";
}

<h3>Consulti</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    ID
                </th>
                <th>
                    Data
                </th>
                <th>
                   Problema Iniziale
                </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemaIniziale)
            </td>     
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>