@model Woa.Models.Paziente

@{
    ViewData["Title"] = "Details";
}



<h3><span class="text-capitalize text-primary">@Model.Nome @Model.Cognome</span></h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("PazienteAnagrafica", new { pazienteId = Model.ID })
        </div>
        <div class="col-md-4">
            @await Component.InvokeAsync("AnamnesiRemote", new { pazienteId = Model.ID })
        </div>
        <div class="col-md-4">
            @await Component.InvokeAsync("Consulti", new { pazienteId = Model.ID })		
        </div>
    </div>
</div>





